force-app/main/default/flows/Calculate_BM_Entities_when_Opportunity_Product_is_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Billing_Entity</name>
        <label>Assign Billing Entity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>billingEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>servicingEntity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Current_Entities_Are</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contracting_Entity</name>
        <label>Assign Contracting Entity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contractingEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>servicingEntity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Billing_Account_Same_as_Servicing</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <description>You can’t add this product to this opportunity. To proceed, create a separate opportunity for it.</description>
        <name>Prevent_Adding_Product_Benefits_Only</name>
        <label>Prevent Adding Product - Benefits Only</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>You can’t add this product to this opportunity. To proceed, create a separate opportunity for it.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Is_Billing_Account_Same_as_Servicing</name>
        <label>Is Billing Account Same as Servicing?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Calculate_Billing_Entity_Based_on_Billing_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_Account_Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Opportunity.Billing_Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_Entity</targetReference>
            </connector>
            <label>Same Account</label>
        </rules>
        <rules>
            <name>Is_Billing_Account_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Billing_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Current_Entities_Are</targetReference>
            </connector>
            <label>Is Billing Account Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contracting_Account_Same_as_Servicing</name>
        <label>Is Contracting Account Same as Servicing?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Calculate_Contracting_Entity_Based_on_Contracting_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different</defaultConnectorLabel>
        <rules>
            <name>Same_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Opportunity.Contracting_Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contracting_Entity</targetReference>
            </connector>
            <label>Same Account</label>
        </rules>
        <rules>
            <name>Is_Contracting_Account_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Contracting_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Billing_Account_Same_as_Servicing</targetReference>
            </connector>
            <label>Is Contracting Account Blank</label>
        </rules>
    </decisions>
    <decisions>
        <description>Runs when any of the three Entities types (Contracting, Servicing or Billing) is Benefit related (is Black Mountain Global Benefits OR Black Mountain Employee Benefits).</description>
        <name>Opportunity_Current_Entities_Are</name>
        <label>Opportunity Current Entities Are</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_Set_Warning_Flag_and_Assign_Fee_Reviewer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different</defaultConnectorLabel>
        <rules>
            <name>Blank_or_Same</name>
            <conditionLogic>(1 OR 4) AND (2 OR 5) AND (3 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Servicing_Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>servicingEntity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Contracting_Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>contractingEntity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Billing_Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>billingEntity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Servicing_Entity__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Contracting_Entity__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Billing_Entity__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>Blank or Same</label>
        </rules>
        <rules>
            <name>Benefit_Related</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newEntityIsBenefitRelated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>prevValueIsSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>prevValueIsNOTBenefitRelated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prevent_Adding_Product_Benefits_Only</targetReference>
            </connector>
            <label>Benefit Related</label>
        </rules>
    </decisions>
    <description>Calculate BM Entities (Servicing, Contracting and Invoicing) when Opportunity Product is created.</description>
    <environments>Default</environments>
    <formulas>
        <name>newEntityIsBenefitRelated</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!servicingEntity} = &apos;BMEB&apos;, 
{!servicingEntity} = &apos;BMGB&apos;,
{!contractingEntity} = &apos;BMEB&apos;, 
{!contractingEntity} = &apos;BMGB&apos;,
{!billingEntity} = &apos;BMEB&apos;, 
{!billingEntity} = &apos;BMGB&apos;
)</expression>
    </formulas>
    <formulas>
        <name>prevValueIsNOTBenefitRelated</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISPICKVAL({!$Record.Opportunity.Servicing_Entity__c},&apos;BMEB&apos;)),
NOT(ISPICKVAL({!$Record.Opportunity.Servicing_Entity__c},&apos;BMGB&apos;)),
NOT(ISPICKVAL({!$Record.Opportunity.Billing_Entity__c},&apos;BMEB&apos;)),
NOT(ISPICKVAL({!$Record.Opportunity.Billing_Entity__c},&apos;BMGB&apos;)),
NOT(ISPICKVAL({!$Record.Opportunity.Contracting_Entity__c},&apos;BMEB&apos;)),
NOT(ISPICKVAL({!$Record.Opportunity.Contracting_Entity__c},&apos;BMGB&apos;))
)</expression>
    </formulas>
    <formulas>
        <name>prevValueIsSet</name>
        <dataType>Boolean</dataType>
        <expression>OR(
NOT(ISBLANK(TEXT({!$Record.Opportunity.Servicing_Entity__c}))),
NOT(ISBLANK(TEXT({!$Record.Opportunity.Billing_Entity__c}))),
NOT(ISBLANK(TEXT({!$Record.Opportunity.Billing_Entity__c})))
)</expression>
    </formulas>
    <interviewLabel>Calculate BM Entities when Opportunity Product is Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate BM Entities when Opportunity Product is Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Entity__c</field>
            <value>
                <elementReference>billingEntity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contracting_Entity__c</field>
            <value>
                <elementReference>contractingEntity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fees_Reviewer__c</field>
            <value>
                <elementReference>feeApproverId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Servicing_Entity__c</field>
            <value>
                <elementReference>servicingEntity</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Opportunity - set Warning flag (true) and assign calculated Fee Reviewer.</description>
        <name>Update_Opportunity_Set_Warning_Flag_and_Assign_Fee_Reviewer</name>
        <label>Update Opportunity - Set Warning Flag and Assign Fee Reviewer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fees_Reviewer__c</field>
            <value>
                <elementReference>feeApproverId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Show_Entity_Warning__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculate_Servicing_Entity_Based_on_Servicing_Country</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_Billing_Entity_Based_on_Billing_Country</name>
        <label>Calculate Billing Entity Based on Billing Country</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Current_Entities_Are</targetReference>
        </connector>
        <flowName>Subflow_Calculate_BM_Entity_Based_on_Country</flowName>
        <inputAssignments>
            <name>opportunityId</name>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunityProductId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>accountType</name>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>billingEntity</assignToReference>
            <name>bmEntity</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Calculate_Contracting_Entity_Based_on_Contracting_Country</name>
        <label>Calculate Contracting Entity Based on Contracting Country</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Billing_Account_Same_as_Servicing</targetReference>
        </connector>
        <flowName>Subflow_Calculate_BM_Entity_Based_on_Country</flowName>
        <inputAssignments>
            <name>opportunityId</name>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunityProductId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>accountType</name>
            <value>
                <stringValue>Contracting</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>contractingEntity</assignToReference>
            <name>bmEntity</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Calculate_Servicing_Entity_Based_on_Servicing_Country</name>
        <label>Calculate Servicing Entity Based on Servicing Country</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Contracting_Account_Same_as_Servicing</targetReference>
        </connector>
        <flowName>Subflow_Calculate_BM_Entity_Based_on_Country</flowName>
        <inputAssignments>
            <name>accountType</name>
            <value>
                <stringValue>Servicing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunityId</name>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunityProductId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>servicingEntity</assignToReference>
            <name>bmEntity</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>feeApproverId</assignToReference>
            <name>feeApproverId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>billingEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractingEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>feeApproverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>servicingEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
