force-app/main/default/flows/Count_No_of_Records_in_Account_Hierarchy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Count_Previous_Hierarchy</name>
        <label>Count (Previous Hierarchy)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>oldHierarchyCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Recalculate_Previous_Hierarchy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countLiveOld</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_where_Status_Live_Old</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_in_old_Hierarchy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_New_Hierarchy</name>
        <label>Count (New Hierarchy)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Accounts_in_the_Hierarchy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countLiveNew</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_where_Status_Live</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_in_New_Hierarchy</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_where_Status_Live</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter where Status Live</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_where_Status_Live</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Accounts_in_the_Hierarchy</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_where_Status_Live.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Live</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_New_Hierarchy</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_where_Status_Live_Old</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter where Status Live (Old)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_where_Status_Live_Old</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Recalculate_Previous_Hierarchy</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_where_Status_Live_Old.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Live</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Count_Previous_Hierarchy</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>Count No. of Records in Account Hierarchy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Count No. of Records in Account Hierarchy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts_in_the_Hierarchy</name>
        <label>Get Accounts in the Hierarchy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_where_Status_Live</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ultimate_Parent_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ultimate_Parent_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recalculate_Previous_Hierarchy</name>
        <label>Recalculate Previous Hierarchy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_where_Status_Live_Old</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ultimate_Parent_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Ultimate_Parent_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accounts_in_New_Hierarchy</name>
        <label>Update Accounts in new Hierarchy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recalculate_Previous_Hierarchy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ultimate_Parent_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ultimate_Parent_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Serviced_Locations__c</field>
            <value>
                <elementReference>countLiveNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Global_Locations__c</field>
            <value>
                <elementReference>accountsCount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Accounts_in_old_Hierarchy</name>
        <label>Update Accounts in old Hierarchy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ultimate_Parent_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Ultimate_Parent_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Serviced_Locations__c</field>
            <value>
                <elementReference>countLiveOld</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Global_Locations__c</field>
            <value>
                <elementReference>oldHierarchyCount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounts_in_the_Hierarchy</targetReference>
        </connector>
        <filterFormula>OR(
ISNEW(),
ISCHANGED({!$Record.ParentId}),
ISCHANGED({!$Record.Status__c})
)</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>accountsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countLiveNew</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countLiveOld</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_where_Status_Live</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_where_Status_Live_Old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>oldHierarchyCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
