force-app/main/default/flows/Create_Task_for_Opportunity_Owner_when_Closed_Won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign values to a Task record variable for Task creation.</description>
        <name>Assign_values_to_Task_record_for_creation</name>
        <label>Assign values to Task record for creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varR_Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_TaskSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forD_TaskDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Task.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Task.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_TaskDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <description>When Opportunity is Closed Won, create a Task for Opportunity Owner to review Contract details.</description>
    <environments>Default</environments>
    <formulas>
        <description>Sets the &apos;Due Date&apos; for the Task as 7 days in the future.</description>
        <name>forD_TaskDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <formulas>
        <description>&apos;Description&apos; assigned to the Task.</description>
        <name>forT_TaskDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Please review the Salesforce Contract details associated with this Opportunity to ensure they match the Agreement signed with the client.&quot;</expression>
    </formulas>
    <formulas>
        <description>&apos;Subject&apos; assigned to the Task.</description>
        <name>forT_TaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Review Contract details for alignment with Agreement&quot;</expression>
    </formulas>
    <interviewLabel>Create Task for Opportunity Owner when Closed Won {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Task for Opportunity Owner when Closed Won</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates the Task record from the record variable.</description>
        <name>Create_Task</name>
        <label>Create_Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varR_Task</inputReference>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_values_to_Task_record_for_creation</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
