force-app/main/default/flows/Create_Task_for_Invoicing_Team_when_Closed_Won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Country_Empty_Country</name>
        <label>Assign Country (Empty Country)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>locationBMMappingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Location_BM_Entity_Mapping_Empty_Country.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Product_Category_BM_Entity_Mapping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Country_Found</name>
        <label>Assign Country (Found)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>locationBMMappingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Location_BM_Entity_Mapping_by_Servicing_Account_Primary_Location.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Product_Category_BM_Entity_Mapping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Country</name>
        <label>Assign Email - Country</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sendToEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Location_BM_Entity_Mapping_by_Billing_Entity.Accounting_Email__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Email_Product_Category</name>
        <label>Assign Email - Product Category</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sendToEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Category_BM_Entity_Mapping.Accounting_Email__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Task_Values</name>
        <label>Assign Task Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskSingle.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskSingle.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoicing_Queue_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskSingle.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskSingle.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskSingle.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Country_Found</name>
        <label>Country Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Location_BM_Entity_Mapping_Empty_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found - BMI</defaultConnectorLabel>
        <rules>
            <name>Country_Found_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Location_BM_Entity_Mapping_by_Servicing_Account_Primary_Location</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Country_Found</targetReference>
            </connector>
            <label>Country Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_BM_Entity_Record_Found</name>
        <label>Location - BM Entity Record Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Location_BM_Entity_Mapping_by_Servicing_Account_Primary_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Location_BM_Entity_Mapping_by_Billing_Entity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_Country</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Category_BM_Entity_Mapping_Found</name>
        <label>Product Category - BM Entity Mapping Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Category</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Category_BM_Entity_Mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_Product_Category</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue_Found</name>
        <label>Queue Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoicing_Queue_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Values</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>When Opportunity is Closed Won, create a Task for Invoicing Team - new Invoice in Xero should be created according to Opportunity details.</description>
    <environments>Default</environments>
    <formulas>
        <name>description</name>
        <dataType>String</dataType>
        <expression>&quot;Create a new Invoice for Billing Account: &quot; + {!$Record.Billing_Account__r.Name}</expression>
    </formulas>
    <formulas>
        <name>dueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 3</expression>
    </formulas>
    <formulas>
        <name>emailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;New Closed Won Opportunity for &quot; + TEXT({!$Record.Billing_Entity__c})</expression>
    </formulas>
    <formulas>
        <name>recordURL</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260)) + {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>subject</name>
        <dataType>String</dataType>
        <expression>&quot;Opportunity Closed Won - create Invoice in Xero&quot;</expression>
    </formulas>
    <interviewLabel>Create Task for Invoicing Team when Closed Won {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Task for Invoicing Team when Closed Won</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Task</name>
        <label>Insert Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Location_BM_Entity_Mapping_by_Billing_Entity</targetReference>
        </connector>
        <inputReference>taskSingle</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Invoicing_Queue_Id</name>
        <label>Get Invoicing Queue Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queue_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoicing_Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Location_BM_Entity_Mapping_by_Billing_Entity</name>
        <label>Get Location - BM Entity Mapping (by Billing Entity)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Location_BM_Entity_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BM_Entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing_Entity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Accounting_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_Region_BM_Entity_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Location_BM_Entity_Mapping_by_Servicing_Account_Primary_Location</name>
        <label>Get Location - BM Entity Mapping (by Servicing Account Primary Location)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Country_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Primary_Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_Region_BM_Entity_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Location_BM_Entity_Mapping_Empty_Country</name>
        <label>Get Location - BM Entity Mapping (Empty Country)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Country_Empty_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_Region_BM_Entity_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Category_BM_Entity_Mapping</name>
        <label>Get Product Category - BM Entity Mapping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Category_BM_Entity_Mapping_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BM_Entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing_Entity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Accounting_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Country_Region_Mapping__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>locationBMMappingId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_Product_Category_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Invoicing_Queue_Id</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>locationBMMappingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sendToEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
