force-app/main/default/flows/Create_Task_for_Compliance_when_Stage_is_Contracting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Billing_Account_Ids_to_Collection</name>
        <label>Add Billing Account Ids to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Billing_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Contracting_Account_Id_Already_in_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Contracting_Account_Ids_to_Collection</name>
        <label>Add Contracting Account Ids to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Contracting_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Compliance_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Servicing_Account_Id_to_Collection</name>
        <label>Add Servicing Account Id to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Billing_Id_Account_Already_in_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Values</name>
        <label>Set Task Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskSingle.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Account_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskSingle.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Compliance_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskSingle.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskSingle.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskSingle.Triggering_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskSingle.Is_Compliance_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskCollction</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Account_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Billing_Id_Account_Already_in_Collection</name>
        <label>Is Billing Account Id Already in Collection?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Billing_Account_Ids_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not In Collection</defaultConnectorLabel>
        <rules>
            <name>In_Collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Billing_Account__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Contracting_Account_Id_Already_in_Collection</targetReference>
            </connector>
            <label>Billing Id In Collection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contracting_Account_Id_Already_in_Collection</name>
        <label>Is Contracting Account Id Already in Collection?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Contracting_Account_Ids_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not In Collection</defaultConnectorLabel>
        <rules>
            <name>Contracting_Id_In_Collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Contracting_Account__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contracting_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Compliance_Queue</targetReference>
            </connector>
            <label>Contracting Id In Collection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue_Found</name>
        <label>Queue Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Queue_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Compliance_Queue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Account_Ids</targetReference>
            </connector>
            <label>Queue Found</label>
        </rules>
    </decisions>
    <description>When Opportunity Stage is updated to &quot;Contracting&quot; a task will be created for the Compliance Queue to assess Account Compliance Status, Account&apos;s Compliance Status will be moved to &quot;Pending&quot;.</description>
    <environments>Default</environments>
    <formulas>
        <name>taskDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <formulas>
        <name>taskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Review Compliance Status - Opportunity moved to Contracting Stage&quot;</expression>
    </formulas>
    <interviewLabel>Create Task for Compliance when Stage is &quot;Contracting&quot; {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Task for Compliance and update Compliance Status when Opportunity Stage is &quot;Contracting&quot;</label>
    <loops>
        <name>Loop_Through_Account_Ids</name>
        <label>Loop Through Account Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>accountIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Task_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Task_s</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Task_s</name>
        <label>Insert Task(s)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Account_s_Compliance_Status_to_Pending</targetReference>
        </connector>
        <inputReference>taskCollction</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Compliance_Queue</name>
        <label>Get Compliance Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queue_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_s_Compliance_Status_to_Pending</name>
        <label>Update Account&apos;s Compliance Status to Pending</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>accountIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Compliance_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Servicing_Account_Id_to_Collection</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contracting</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>accountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskCollction</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
