force-app/main/default/flows/Create_or_Update_Location_Service_Mapping_when_Opportunity_is_Closed_Won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Join_Active_Services_to_Multi_select_Picklist</name>
        <label>Join Active Services to Multi-select Picklist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ListToMultiSelectAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_new_Active_Services_to_Location_Service_Mapping</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>locationServicesCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ListToMultiSelectAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>newActiveServices</assignToReference>
            <name>multiSelectString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Join_Opportnity_Services_to_Multi_select_Picklist</name>
        <label>Join Opportnity Services to Multi-select Picklist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ListToMultiSelectAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Insert_Location_Service_Mapping</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>opportunityProductCategoryList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ListToMultiSelectAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>newActiveServices</assignToReference>
            <name>multiSelectString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>This action transforms multi-select picklist into a collection of text values.</description>
        <name>Separate_Active_Services_into_Collection</name>
        <label>Separate Active Services into Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MultiSelectToListAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Iterate_Through_Opportunity_Services</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>multiSelectValues</name>
            <value>
                <elementReference>Get_Location_Service_Mapping_for_Servicing_Account.Active_Services__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectToListAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>locationServicesCollection</assignToReference>
            <name>values</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Opportunity_Service_to_Location_s_Services_Collection</name>
        <label>Add Opportunity Service to Location&apos;s Services Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>locationServicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Through_Opportunity_Services</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Through_Opportunity_Services</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Product_Category_to_opportunityProductCategoryList</name>
        <label>Add Product Category to</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>opportunityProductCategoryList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productCategoryTrimmed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opportunity_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_Active_Services_to_Location_Service_Mapping</name>
        <label>Assign new Active Services to Location-Service Mapping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Location_Service_Mapping_for_Servicing_Account.Active_Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newActiveServices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Location_Service_Mapping</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if Product Category (of associated Opportunity Line Item) is already part of the opportunityProductCategoryList. If included, do nothing. If not in collection, add value.</description>
        <name>Check_If_Product_Category_is_Already_in_Collection</name>
        <label>Check If Product Category is Already in Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Product_Category_to_opportunityProductCategoryList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not in Collection</defaultConnectorLabel>
        <rules>
            <name>Already_Included</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityProductCategoryList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>productCategoryTrimmed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Opportunity_Line_Items</targetReference>
            </connector>
            <label>Already Included</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Location_Service_Mapping_include_current_iteration_service</name>
        <label>Does Location-Service Mapping include current iteration (service)?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Opportunity_Service_to_Location_s_Services_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Include</defaultConnectorLabel>
        <rules>
            <name>Already_Includes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>locationServicesCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_Through_Opportunity_Services</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Through_Opportunity_Services</targetReference>
            </connector>
            <label>Already Includes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Location_Service_Mapping_Found</name>
        <label>Is Location-Service Mapping Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Join_Opportnity_Services_to_Multi_select_Picklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Location_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Location_Service_Mapping_for_Servicing_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Separate_Active_Services_into_Collection</targetReference>
            </connector>
            <label>Location Found</label>
        </rules>
    </decisions>
    <description>When Opportunity stage is changed to Closed Won, check if Location-Service mapping associated to Opportunity Location exists. If found check if Opportunity Services are included, if not create new record.</description>
    <environments>Default</environments>
    <formulas>
        <name>productCategoryTrimmed</name>
        <dataType>String</dataType>
        <expression>TRIM(TEXT({!Loop_Through_Opportunity_Line_Items.Product2.Product_Category__c}))</expression>
    </formulas>
    <interviewLabel>Create or Update Location-Service Mapping when Opportunity is Closed Won {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create or Update Location-Service Mapping when Opportunity is Closed Won</label>
    <loops>
        <name>Iterate_Through_Opportunity_Services</name>
        <label>Iterate Through Opportunity Services</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>opportunityProductCategoryList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Location_Service_Mapping_include_current_iteration_service</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Join_Active_Services_to_Multi_select_Picklist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Opportunity_Line_Items</name>
        <label>Loop Through Opportunity Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_Product_Category_is_Already_in_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Location_Service_Mapping_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Location_Service_Mapping</name>
        <label>Insert Location-Service Mapping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active_Services__c</field>
            <value>
                <elementReference>newActiveServices</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </inputAssignments>
        <object>Location_Service_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Location_Service_Mapping_for_Servicing_Account</name>
        <label>Get Location - Service Mapping for Servicing Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location_Service_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Opportunity_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Location_Service_Mapping</name>
        <label>Update Location-Service Mapping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Location_Service_Mapping_for_Servicing_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Location_Service_Mapping_for_Servicing_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HasOpportunityLineItem</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>locationServicesCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newActiveServices</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityProductCategoryList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
