force-app/main/default/flows/Risk_Assessment_Flow_Triggered_via_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Separate_Multi_Select_Picklist_Into_List_of_Strings_Fundflow</name>
        <label>Separate Multi-Select Picklist Into List of Strings - Fundflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MultiSelectToListAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>For_Each_Fundflow</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>multiSelectValues</name>
            <value>
                <elementReference>Get_Account_Details.Fundflow__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectToListAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>fundflowList</assignToReference>
            <name>values</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Split_Services_to_List</name>
        <label>Split Services to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MultiSelectToListAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>For_Each_Service</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>multiSelectValues</name>
            <value>
                <elementReference>For_Each_Country_of_Operation.Active_Services__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MultiSelectToListAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>serviceList</assignToReference>
            <name>values</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_To_List</name>
        <label>Add To List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>locationServiceList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>locationServiceSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Country_of_Operation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Details_to_Variable</name>
        <label>Assign Account Details to Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Latest_Approved_KYC_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Country_of_Funds_Values</name>
        <label>Assign Country of Funds Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountVar.Score_Country_of_Funds__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>countryOfFundsMaxScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Primary_Country_Score_Max_Country_of_Funds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Country_of_Operation_Values</name>
        <label>Assign Country of Operation Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountVar.Score_Country_of_Operation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>countryOfFundsMaxScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>KYC_Form_Response_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>KYC risk assessment might be manually set by Compliance Users. When KYC Form is not found, do not override these fields.</description>
        <name>Assign_Existing_Values_when_KYC_Not_Found</name>
        <label>Assign Existing Values when KYC Not Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountVar.Score_Legal_Structure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Details.Score_Legal_Structure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountVar.Score_Country_of_Incorporation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Details.Score_Country_of_Incorporation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountVar.Score_Primary_Source_of_Wealth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Details.Score_Primary_Source_of_Wealth__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Industry_Assessment_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fundflow_Max_Values</name>
        <label>Assign Fundflow Max Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountVar.Score_Fundflow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fundflowMaxScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Location_Service_Location_values</name>
        <label>Assign Location - Service (Location values)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>locationServiceSingle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Country_of_Operation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>locationServiceSingle.Score_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>countryOfFundsCurrentScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Current_Country_of_Funds_Score_Max</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Location_Service_Service_values</name>
        <label>Assign Location - Service (Service values)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>locationServiceSingle.Score_Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceMaxScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Max_Score_Country_of_Operation</name>
        <label>Assign New Max Score - Country of Operation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>countryOfFundsMaxScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>countryOfFundsCurrentScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Split_Services_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Max_Score_Fundflow</name>
        <label>Assign New Max Score - Fundflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>fundflowMaxScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fundflowCurrentScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Fundflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Max_Score_Service</name>
        <label>Assign New Max Score - Service</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>serviceMaxScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceCurrentScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Max_Score_Source_of_Wealth</name>
        <label>Assign New Max Score - Source of Wealth</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sourceOfWealthMaxScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sourceOfWealthCurrentScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_UBO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_Country_Values</name>
        <label>Assign Primary Country Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountVar.Score_Country_of_Operation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>primaryCountryScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>KYC_Form_Response_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>When Location-Service Mapping is not provided, calculate Country of Operation and Country of Fund risk based on Primary Country risk.</description>
        <name>Assign_Primary_Country_Values_when_no_Location_Service_Mapping</name>
        <label>Assign Primary Country Values (when no Location-Service Mapping)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountVar.Score_Country_of_Operation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>primaryCountryScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountVar.Score_Country_of_Funds__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>primaryCountryScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>KYC_Form_Response_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_Source_of_Wealth</name>
        <label>Assign Primary Source of Wealth</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountVar.Score_Primary_Source_of_Wealth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sourceOfWealthMaxScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Industry_Assessment_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Services_Values</name>
        <label>Assign Services Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountVar.Score_Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceMaxScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Location_Service_Service_values</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Filter Location - Service records to check if the Account&apos;s Primary Country is part of the list.</description>
        <name>Filter_Location_Services_Found</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Location - Services Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Location_Services_Found</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Location_Services_Mapping</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Location_Services_Found.Location__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Get_Account_Details.Primary_Country__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Is_Primary_Country_within_Location_Service_Mapping</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>If_Primary_Country_Score_Max_Country_of_Funds</name>
        <label>If Primary Country Score &gt; Max Country of Funds?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Country_of_Operation_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less or Same Value</defaultConnectorLabel>
        <rules>
            <name>Greater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>primaryCountryScore</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>countryOfFundsMaxScore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Primary_Country_Values</targetReference>
            </connector>
            <label>Greater</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Current_Country_of_Funds_Score_Max</name>
        <label>Is Current Country of Funds Score &gt; Max?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Split_Services_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_Country_of_Funds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countryOfFundsCurrentScore</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>countryOfFundsMaxScore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Max_Score_Country_of_Operation</targetReference>
            </connector>
            <label>Greater - Country of Funds</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Current_Service_Score_Max</name>
        <label>Is Current Service Score &gt; Max?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>For_Each_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less or Same Value</defaultConnectorLabel>
        <rules>
            <name>Greater_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serviceCurrentScore</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>serviceMaxScore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Max_Score_Service</targetReference>
            </connector>
            <label>Greater - Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Current_Source_of_Wealth_Score_Max</name>
        <label>Is Current Source of Wealth Score &gt; Max?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>For_Each_UBO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less or Same Value</defaultConnectorLabel>
        <rules>
            <name>Greater_Source_of_Wealth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sourceOfWealthCurrentScore</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>sourceOfWealthMaxScore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Max_Score_Source_of_Wealth</targetReference>
            </connector>
            <label>Greater - Source of Wealth</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CurrentFundflow_Score_Max</name>
        <label>Is CurrentFundflow Score &gt; Max?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>For_Each_Fundflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less or Same Value</defaultConnectorLabel>
        <rules>
            <name>Greater_Fundflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fundflowCurrentScore</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>fundflowMaxScore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Max_Score_Fundflow</targetReference>
            </connector>
            <label>Greater - Fundflow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Fundflow_Set</name>
        <label>Is Fundflow Set?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fundflow is blank</defaultConnectorLabel>
        <rules>
            <name>Fundflow_is_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Details.Fundflow__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Separate_Multi_Select_Picklist_Into_List_of_Strings_Fundflow</targetReference>
            </connector>
            <label>Fundflow is set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Primary_Country_within_Location_Service_Mapping</name>
        <label>Is Primary Country within Location - Service Mapping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Run_Primary_Country_Assessment_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Primary Country NOT in Location - Service List</defaultConnectorLabel>
        <rules>
            <name>Primary_Country_within_Location_Service_Mapping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Location_Services_Found</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Each_Country_of_Operation</targetReference>
            </connector>
            <label>Primary Country within Location - Service Mapping</label>
        </rules>
    </decisions>
    <decisions>
        <name>KYC_Form_Response_Found</name>
        <label>KYC Form Response Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Existing_Values_when_KYC_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Response_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Approved_KYC_Form</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Legal_Structure_Assessment_Subflow</targetReference>
            </connector>
            <label>Response Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>KYC_UBO_Found</name>
        <label>KYC UBO Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Run_Industry_Assessment_Subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>UBO_Details_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_UBO_Details</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Each_UBO</targetReference>
            </connector>
            <label>UBO Details Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_Service_Mapping_Found</name>
        <label>Location-Service Mapping Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Run_Primary_Country_Assessment_Flow_when_no_Location_Service_Mapping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records Found</defaultConnectorLabel>
        <rules>
            <name>Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Location_Services_Mapping</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Location_Services_Found</targetReference>
            </connector>
            <label>Records Found</label>
        </rules>
    </decisions>
    <description>Runs subsequent subflows - one for each risk category. Sets the Risk Assessment Date.</description>
    <environments>Default</environments>
    <interviewLabel>Risk Assessment Flow - Triggered via Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Risk Assessment Flow - Triggered via Button</label>
    <loops>
        <name>For_Each_Country_of_Operation</name>
        <label>For Each Country of Operation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Location_Services_Mapping</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Run_Country_of_Operation_Assessment_Subflow</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Country_of_Funds_Values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Fundflow</name>
        <label>For Each Fundflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>fundflowList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Run_Fundflow_Assessment_Subflow</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Fundflow_Max_Values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Service</name>
        <label>For Each Service</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>serviceList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Run_Service_Assessment_Subflow</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Services_Values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_UBO</name>
        <label>For Each UBO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_UBO_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Run_Primary_Source_of_Wealth_Assessment_Subflow</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Primary_Source_of_Wealth</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Details_to_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Approved_KYC_Form</name>
        <label>Get Latest Approved KYC Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Location_Services_Mapping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Form_Response_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>KYC_Response__c</object>
        <sortField>Date_Completed__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Location_Services_Mapping</name>
        <label>Get Location - Services Mapping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Location_Service_Mapping_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Include_in_Risk_Assessment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location_Service_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UBO_Details</name>
        <label>Get UBO Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>KYC_UBO_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KYC_Response__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Approved_KYC_Form.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Beneficial_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>KYC_Response_Related_Entities__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Location_Service_Mappings</targetReference>
        </connector>
        <inputReference>accountVar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Location_Service_Mappings</name>
        <label>Update Location - Service Mappings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>locationServiceList</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_Country_of_Incorporation_Assessment_Subflow</name>
        <label>Run Country of Incorporation Assessment Subflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_UBO_Details</targetReference>
        </connector>
        <flowName>Subflow_Assess_Location_Risk</flowName>
        <inputAssignments>
            <name>countryName</name>
            <value>
                <elementReference>Get_Latest_Approved_KYC_Form.Country_of_Incorporation__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>accountVar.Score_Country_of_Incorporation__c</assignToReference>
            <name>scoreNum</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Run_Country_of_Operation_Assessment_Subflow</name>
        <label>Run Country of Operation Assessment Subflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Location_Service_Location_values</targetReference>
        </connector>
        <flowName>Subflow_Assess_Location_Risk</flowName>
        <inputAssignments>
            <name>countryName</name>
            <value>
                <elementReference>For_Each_Country_of_Operation.Location__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>countryOfFundsCurrentScore</assignToReference>
            <name>scoreNum</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Run_Fundflow_Assessment_Subflow</name>
        <label>Run Fundflow Assessment Subflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_CurrentFundflow_Score_Max</targetReference>
        </connector>
        <flowName>Subflow_Assess_Fundflow_Risk</flowName>
        <inputAssignments>
            <name>fundflow</name>
            <value>
                <elementReference>For_Each_Fundflow</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>fundflowCurrentScore</assignToReference>
            <name>scoreNum</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Run_Industry_Assessment_Subflow</name>
        <label>Run Industry Assessment Subflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Transaction_Assessment_Subflow</targetReference>
        </connector>
        <flowName>Subflow_Assess_Industry_Risk</flowName>
        <inputAssignments>
            <name>industry</name>
            <value>
                <elementReference>Get_Account_Details.Industry__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>accountVar.Score_Industry__c</assignToReference>
            <name>scoreNum</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Run_Legal_Structure_Assessment_Subflow</name>
        <label>Run Legal Structure Assessment Subflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Country_of_Incorporation_Assessment_Subflow</targetReference>
        </connector>
        <flowName>Subflow_Assess_Legal_Structure_Risk</flowName>
        <inputAssignments>
            <name>legalStructure</name>
            <value>
                <elementReference>Get_Latest_Approved_KYC_Form.Company_Legal_Status__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>accountVar.Score_Legal_Structure__c</assignToReference>
            <name>scoreNum</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Calculate risk and score for Account&apos;s Primary Country.</description>
        <name>Run_Primary_Country_Assessment_Flow</name>
        <label>Run Primary Country Assessment Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>For_Each_Country_of_Operation</targetReference>
        </connector>
        <flowName>Subflow_Assess_Location_Risk</flowName>
        <inputAssignments>
            <name>countryName</name>
            <value>
                <elementReference>Get_Account_Details.Primary_Country__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>primaryCountryScore</assignToReference>
            <name>scoreNum</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Calculate risk and score based Account&apos;s Primary Country.</description>
        <name>Run_Primary_Country_Assessment_Flow_when_no_Location_Service_Mapping</name>
        <label>Run Primary Country Assessment Flow (when no Location-Service Mapping)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Primary_Country_Values_when_no_Location_Service_Mapping</targetReference>
        </connector>
        <flowName>Subflow_Assess_Location_Risk</flowName>
        <inputAssignments>
            <name>countryName</name>
            <value>
                <elementReference>Get_Account_Details.Primary_Country__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>primaryCountryScore</assignToReference>
            <name>scoreNum</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Run_Primary_Source_of_Wealth_Assessment_Subflow</name>
        <label>Run Primary Source of Wealth Assessment Subflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Current_Source_of_Wealth_Score_Max</targetReference>
        </connector>
        <flowName>Subflow_Assess_Source_of_Wealth_Risk</flowName>
        <inputAssignments>
            <name>sourceOfWealth</name>
            <value>
                <elementReference>For_Each_UBO.Primary_Source_of_Wealth__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sourceOfWealthCurrentScore</assignToReference>
            <name>scoreNum</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Run_Service_Assessment_Subflow</name>
        <label>Run Service Assessment Subflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Current_Service_Score_Max</targetReference>
        </connector>
        <flowName>Subflow_Assess_Service_Risk</flowName>
        <inputAssignments>
            <name>serviceName</name>
            <value>
                <elementReference>For_Each_Service</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>serviceCurrentScore</assignToReference>
            <name>scoreNum</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Run_Transaction_Assessment_Subflow</name>
        <label>Run Transaction Assessment Subflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Fundflow_Set</targetReference>
        </connector>
        <flowName>Subflow_Assess_Transaction_Risk</flowName>
        <inputAssignments>
            <name>transaction</name>
            <value>
                <elementReference>Get_Account_Details.Transaction__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>accountVar.Score_Transaction__c</assignToReference>
            <name>scoreNum</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>accountVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>countryOfFundsCurrentScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countryOfFundsMaxScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_Location_Services_Found</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location_Service_Mapping__c</objectType>
    </variables>
    <variables>
        <name>fundflowCurrentScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>fundflowList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fundflowMaxScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>locationServiceList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location_Service_Mapping__c</objectType>
    </variables>
    <variables>
        <name>locationServiceSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location_Service_Mapping__c</objectType>
    </variables>
    <variables>
        <name>primaryCountryScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceCurrentScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>serviceList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceMaxScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sourceOfWealthCurrentScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sourceOfWealthMaxScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
