force-app/main/default/flows/Schedule_Account_Plan_Review_Reminder_10_Days_Before_Due.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Task_Values</name>
        <label>Assign Task Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskSingle.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskSingle.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Accounts.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskSingle.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Accounts.Next_Account_Plan_Review_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskSingle.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskSingle.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskSingle.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>taskSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Accounts</targetReference>
        </connector>
    </assignments>
    <description>Creates a reminder Task for the Account Plan’s review 10 days before its due date.</description>
    <environments>Default</environments>
    <formulas>
        <name>dueIn10Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 10</expression>
    </formulas>
    <formulas>
        <name>taskDescription</name>
        <dataType>String</dataType>
        <expression>&quot;When the Account Plan is reviewed, update the Date of Last Service Review with Client (Account Plan field) accordingly, so that the next reminder task is created based on the specified cadence.&quot;</expression>
    </formulas>
    <formulas>
        <name>taskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Review Account Plan data&quot;</expression>
    </formulas>
    <interviewLabel>Create Task for Account Plan Review 10 Days Prior to Due Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Account Plan Review Reminder (10 Days Before Due)</label>
    <loops>
        <name>Loop_Through_Accounts</name>
        <label>Loop Through Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Accounts_where_Account_Plan_Review_is_Due_in_10_Days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Task_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Tasks</name>
        <label>Insert Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>taskCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Accounts_where_Account_Plan_Review_is_Due_in_10_Days</name>
        <label>Get Accounts where Account Plan Review is Due in 10 Days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Next_Account_Plan_Review_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dueIn10Days</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounts_where_Account_Plan_Review_is_Due_in_10_Days</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-11-10</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>taskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
