force-app/main/default/flows/Subflow_Calculate_BM_Entity_Based_on_Country.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Billing_Country</name>
        <label>Assign Billing Country</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Billing_Account__r.Primary_Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Parent_Opportunity_or_has_a_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contracting_Country</name>
        <label>Assign Contracting Country</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Contracting_Account__r.Primary_Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Parent_Opportunity_or_has_a_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Country_BM_Entity_Mapping_Country_Blank</name>
        <label>Assign Country - BM Entity Mapping (Country Blank)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>countryEntityMapping</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_BM_Entity_Mapping_Country_Blank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Country_Product_Category_Mapping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Country_BM_Entity_Mapping_Country_Found</name>
        <label>Assign Country - BM Entity Mapping (Country Found)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>countryEntityMapping</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_BM_Entity_Mapping</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Country_Product_Category_Mapping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Servicing_Country</name>
        <label>Assign Servicing Country</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Details.Account.Primary_Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Parent_Opportunity_or_has_a_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Servicing_Entity_Exception_Scenario</name>
        <label>Assign Servicing Entity - Exception Scenario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>bmEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_Product_Category_Mapping.BM_Entity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feeApproverId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_Product_Category_Mapping.Fees_Approver__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Servicing_Entity_Standard_Scenario</name>
        <label>Assign Servicing Entity - Standard Scenario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>bmEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>countryEntityMapping.BM_Entity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>feeApproverId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>countryEntityMapping.Fees_Approver__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Account_Type_Is</name>
        <label>Account Type Is</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Other N/A</defaultConnectorLabel>
        <rules>
            <name>Servicing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Servicing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Servicing_Country</targetReference>
            </connector>
            <label>Servicing</label>
        </rules>
        <rules>
            <name>Contracting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contracting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contracting_Country</targetReference>
            </connector>
            <label>Contracting</label>
        </rules>
        <rules>
            <name>Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_Country</targetReference>
            </connector>
            <label>Billing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Country_BM_Entity_Mapping_Found_Dec</name>
        <label>Country - BM Entity Mapping Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Country_BM_Entity_Mapping_Country_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Country_BM_Entity_Mapping_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Country_BM_Entity_Mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Country_BM_Entity_Mapping_Country_Found</targetReference>
            </connector>
            <label>Country - BM Entity Mapping Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Country_Product_Category_Record_Found_dec</name>
        <label>Country - Product Category Record Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Servicing_Entity_Standard_Scenario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Country_Product_Category_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Country_Product_Category_Mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Servicing_Entity_Exception_Scenario</targetReference>
            </connector>
            <label>Country - Product Category Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Parent_Opportunity_or_has_a_Parent</name>
        <label>Is Parent Opportunity or has a Parent?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Country_BM_Entity_Mapping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Single-Location Opportunity</defaultConnectorLabel>
        <rules>
            <name>Is_Parent_or_has_Parent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.No_of_Child_Opportunities__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Parent_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Details.Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Country_BM_Entity_Mapping_Country_Blank</targetReference>
            </connector>
            <label>Is Parent or has Parent</label>
        </rules>
    </decisions>
    <description>Calculates BM Entity and Fee Approver based on the Country and Product Categories.</description>
    <environments>Default</environments>
    <interviewLabel>Subflow - Calculate BM Entity Based on Country {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - Calculate BM Entity Based on Country</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Country_BM_Entity_Mapping</name>
        <label>Get Country - BM Entity  Mapping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Country_BM_Entity_Mapping_Found_Dec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>country</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_Region_BM_Entity_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Country_BM_Entity_Mapping_Country_Blank</name>
        <label>Get Country - BM Entity  Mapping (Country Blank)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Country_BM_Entity_Mapping_Country_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_Region_BM_Entity_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Country_Product_Category_Mapping</name>
        <label>Get Country - Product Category Mapping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Country_Product_Category_Record_Found_dec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Region_Mapping__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>countryEntityMapping.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Product_Details.Product2.Product_Category__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_Product_Category_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Details</name>
        <label>Get Opportunity Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Product_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Product_Details</name>
        <label>Get Opportunity Product Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Type_Is</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bmEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>countryEntityMapping</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Country_Region_BM_Entity_Mapping__c</objectType>
    </variables>
    <variables>
        <name>feeApproverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>servicingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
