force-app/main/default/flows/Sync_Balances_From_Xero_Scheduled_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Sync_Account_Balances_From_Xero</name>
        <label>Sync Account Balances From Xero</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>XeroContactBalanceSyncAction</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Insert_Error_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountXeroIds</name>
            <value>
                <elementReference>list_XeroIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>XeroContactBalanceSyncAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Account_Id_to_List</name>
        <label>Add Account Id to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>list_AccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Foreach_Invoice.Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Foreach_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds Xero Id to List</description>
        <name>Add_Xero_Contact_Id</name>
        <label>Add Xero Contact Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>list_XeroIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Foreach_Account.Xero_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Foreach_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Add_Account_Id_to_List</name>
        <label>Add Account Id to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>list_AccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Foreach_Credit_Note.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Foreach_Credit_Note</targetReference>
        </connector>
    </assignments>
    <description>Scheduled flow which runs at 11:50pm daily and syncs account balances from Xero.</description>
    <environments>Default</environments>
    <formulas>
        <description>Today()</description>
        <name>form_TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Sync Balances From Xero - Scheduled Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Balances From Xero - Scheduled Flow</label>
    <loops>
        <description>Loops over Accounts.</description>
        <name>Foreach_Account</name>
        <label>Foreach Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GET_Accounts_Related_to_Invoice_and_Credit_Notes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Xero_Contact_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sync_Account_Balances_From_Xero</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Foreach_Credit_Note</name>
        <label>Foreach Credit Note</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GET_Credit_Notes_Last_Modified</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_Add_Account_Id_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GET_Accounts_Related_to_Invoice_and_Credit_Notes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Foreach_Invoice</name>
        <label>Foreach Invoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GET_Invoices_Last_Modified</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Account_Id_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GET_Credit_Notes_Last_Modified</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates an Error Log</description>
        <name>Insert_Error_Log</name>
        <label>Insert Error Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <stringValue>Sync Account Balances Xero Flow Job Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Fetches Accounts related to the Invoices and Credit Notes updated today.</description>
        <name>GET_Accounts_Related_to_Invoice_and_Credit_Notes</name>
        <label>GET Accounts Related to Invoice and Credit Notes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Foreach_Account</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Insert_Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>list_AccountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetches Credit Notes based on last modified date being today.</description>
        <name>GET_Credit_Notes_Last_Modified</name>
        <label>GET Credit Notes Last Modified</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Foreach_Credit_Note</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Insert_Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>form_TodayDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Credit_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetches Invoices based on last modified date being today.</description>
        <name>GET_Invoices_Last_Modified</name>
        <label>GET Invoices Last Modified</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Foreach_Invoice</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Insert_Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>form_TodayDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_Invoices_Last_Modified</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-11-28</startDate>
            <startTime>23:50:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_GET_Invoice_Account_Ids</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Note__c</objectType>
    </variables>
    <variables>
        <description>holds a list of account ids</description>
        <name>list_AccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>list_XeroIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
