force-app/main/default/flows/Sync_Invoices_From_Xero_Scheduled_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an apex action which syncs invoices from Xero. It pulls all invoice data where last modified date is included in the previous day.</description>
        <name>Sync_Invoices_From_Xero</name>
        <label>Sync Invoices From Xero</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>XeroInvoiceSyncAction</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Insert_Error_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>XeroInvoiceSyncAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Scheduled flow which runs at 11:30pm daily and syncs invoices from Xero.</description>
    <environments>Default</environments>
    <interviewLabel>Sync Invoices From Xero - Scheduled Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Invoices From Xero - Scheduled Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates an error log from the fault path exception.</description>
        <name>Insert_Error_Log</name>
        <label>Insert Error Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <stringValue>Sync Invoices From Xero Job Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sync_Invoices_From_Xero</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-11-21</startDate>
            <startTime>23:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Holds a list of error logs to insert.</description>
        <name>list_ErrorLogs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Error_Log__c</objectType>
    </variables>
    <variables>
        <description>holds the error log that is built in the foreach loop</description>
        <name>loop_ErrorLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Error_Log__c</objectType>
    </variables>
</Flow>
