force-app/main/default/flows/Update_Account_Flag_when_Country_is_Sanctioned.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Changed_To</name>
        <label>Changed To</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Accounts_Is_Sanctioned_Country_flag_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Sanctioned</defaultConnectorLabel>
        <rules>
            <name>Sanctioned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Sanctioned__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Accounts_Is_Sanctioned_Country_flag</targetReference>
            </connector>
            <label>Sanctioned</label>
        </rules>
    </decisions>
    <description>When Country sanction flag is changed, update all Accounts&apos; Sanctioned flag.</description>
    <environments>Default</environments>
    <interviewLabel>Update Is Sanctioned Flag when Risk {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account Flag when Country is Sanctioned</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Accounts_Is_Sanctioned_Country_flag</name>
        <label>Update Accounts Is Sanctioned Country flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Country_Sanctioned__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Country_Sanctioned__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Accounts_Is_Sanctioned_Country_flag_false</name>
        <label>Update Accounts Is Sanctioned Country flag (False)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Location__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Country_Sanctioned__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Country_Sanctioned__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Changed_To</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.Is_Sanctioned__c})</filterFormula>
        <object>Risk_Rating_Score_Location__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
